head {
       background-color: #ffffff;
       color: #000000;
     }

body { 
       background-color: #ffffff;
       color: #000000;
     }

table {
				border-width: 0px;
				empty-cells: hide;
}

/* links */
a, a:visited {
  text-decoration: none;
  color: #4F82CB; 
  background: inherit;
}
a:hover {
  color: #4EBF37;
  background: inherit;
}

body, p, td, br, center { font-size: 10pt;
        font-family: sans-serif;
      }

title { color: #000000;
     font-family: sans-serif;
   }

/* headers */
h1, h2, h3, p {
  padding: 10px;    
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: Tahoma, Verdana, 'Trebuchet MS', Sans-serif;
  font-weight: Bold;    
}
h1 {
  font-size: 120%;  
}
h2 {
  font-size: 110%;
  text-transform: uppercase;
  color: #88ac0b;
}
h3 {
  font-size: 110%;
  padding: 5px 0pt 5px 25px;
  background: #FFF url("/images/square-green.png") no-repeat scroll 3px 50%;
  border-bottom:1px solid #EFF0F1;
  color:#88AC0B;
  font-family:Verdana,'Trebuchet MS',Sans-serif;
}
h4 {
  font-size: 110%;
  color: #666666;
}
ul, ol {
  margin: 5px 20px;
  padding: 0 20px;
  /* color: #88ac0b;   */
}
ul span, ol span {
  color: #666666;
}
th { font-size: small; }

pre { font-size: 8pt; 
    }

tt { font-size: 8pt; 
    }
table.formsection, table.ui_table, table.sortable, .main {
  border-collapse: collapse;
  border: 2px solid #b3b6b0;
  width:98%;
  margin: 4px;
  background-color: #EFEFEF;
}
tr.mainsel {
  background-color: #ddffbb;
}
tr.mainhigh {
  background-color: #ffffbb;
}
tr.mainhighsel {
  background-color: #bbffcc;
}
tr.maintitle {
  color: #ffffff;
  background-color: #427ad1;
}
td.maintitle {
  color: #ffffff;
  background-color: #427ad1;
}
tr.maintitle a, tr.maintitle a:visited {
  color: #ffffff;
}
td.maintitle a, td.maintitle a:visited {
  color: #ffffff;
}
tr.maintitle a:hover {
  color: #4EBF37;
}
td.maintitle a:hover {
  color: #4EBF37;
}
hr {
  border: 0;
  width: 90%;
  height: 2px;
  color: #EFF0F1;
  background-color: #EFF0F1;
}
.itemhidden {display:none}
.itemshown {display:inline}
img { behavior: url(/images/iepngfix.htc); }
