.mode {
  left: auto;
  right: auto;
}
.linkwithicon {
  position: relative;
  white-space: nowrap;
  left: 2px;
  width: 16px;
  padding-top: 2px;
}
.leftlink {
  position: relative;
  left: 4px;
  right: 4px;
  padding-top: 2px;
}
.linkindented {
  border: none;
  position: relative;
  padding-top: 2px;
  margin-right: 2px;
  margin-left: 20px;
}
.aftericon {
  display: inline;
}
.domainmenu {
  white-space: nowrap;
  position: relative;
  left: 4px;
  padding-top: 2px;
}
.menubody {
  border: 1px solid #B3B6B0;
  padding: 2px;
}

