.mode {
  position: absolute;
  left: 5px;
  top: 5px;
}

.linkwithicon {
  position: relative;
	white-space: nowrap;
  left: 4px;
  width: 20px;
	padding-top: 2px;
}

.leftlink {
  position: relative;
  left: 4px;
	right: 4px;
	padding-top: 2px;
}

.linkindented {
	border: none;
	position: relative;
  padding-top: 2px;
	left: 26px;
}

.aftericon {
	position: relative;
	display: inline;
	left: 2px;
	top: 0px;
	padding-top: 2px;
}

.domainmenu {
	white-space: nowrap;
	position: relative;
  left: 4px;
	padding-top: 2px;
}

.menubody {
  border: 1px solid #B3B6B0;
  padding: 2px;
}

