.mode {
  left: auto;
  right: auto;
}
.linkwithicon {
  position: relative;
  white-space: nowrap;
  left: 2px;
  width: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.linkwithicon img, .mode img {
  margin-bottom: -2px;
}
.leftlink {
  position: relative;
  left: 4px;
  right: 4px;
  line-height: 1.6em;
}
.linkindented {
  border: none;
  position: relative;
  margin-right: 2px;
  margin-left: 20px;
  line-height: 1.6em;
}
.aftericon {
  display: inline;
}
.domainmenu {
  white-space: nowrap;
  position: relative;
  left: 4px;
  padding-top: 2px;
}
